<section class="section experience">
  <div class="section__title">Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company">
            <script>console.log(job.url);</script>
            <script>console.log(typeof({{ job.url }}));</script>
            <script>console.log("----++---");</script>
            {% if job.url == blank %}
              <a>{{job.company}} dff</a>
            {% else %}
              <a href="{{job.url}}" target="_blank">{{job.company}} s</a>
            {% endif %}
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__position">{{job.position}}</div>
      </div>
      {% endfor %}
    </div>

    <a href="https://bit.ly/arnav-deep-resume" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>
